!!! 5
%html
  %head
    %meta{:name => :description, :content => "Kill Bed Bugs, Eradicate Bed Bugs. 24 x 7x 365 = no bed bugs! , Our teams of experts have earned their license after undergoing rigorous training in pest elimination, pest extermination, bed bug extermination. We incorporated in New York, Queens, Long Island, Manhattan, and Brooklyn. We provide non toxic treatment and Cryonite services as well. We cater to all extermination needs for bed bugs in New York, bed bugs in Queens, bed bugs in Long Island, bed bugs in Manhattan. Also we offer services for gophers, hornets, centipedes, pantry moths and cloth moths. We provide certified Bed Bug Dog that generates quicker and more accurate results in finding and killing bed bugs."}
    %title
      = @title + "| Eradicate Bed Bugs | EradicateBedBugs.com"
    /[if lt IE 9]
      %script{:src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js'}
    %link{:rel => :stylesheet, :type => 'text/css', :href => '/style.css'}
    %script{:src => '/js/jquery.js'}
    %script{:src => '/js/jquery-cycle.js'} 
    %script{:src => '/js/script.js'}
  %body
    %header
      %hgroup
        %h1 Eradicate Bed Bugs
      %p.contact
        %span.phone-number
          347 824 2066
        %span.pitch
          Let's Debug..
    #body-copy
      %nav
        %ul.main
          - (nav).each do |page, sections|
            %li.main
              //make helper for this and name it properly.
              %a{ :href => "/#{downcase_spacedash(page)}" } #{page}
              %ul.sub
                - sections.each do |section|
                  %li.sub
                    %a{:href => "/#{downcase_spacedash(page)}/#{section}"} #{section.split('-').map { |x| x.capitalize }.join(' ')}
      %section.content
        %header
          // visual
        %section#one
          = yield
    %footer
      Eradicate Bed Bugs | EradicateBedBugs.com
    %script{:src => '/js/analytics.js'}
